[submodule "kernel/prebuilts/build-tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/kernel-build-tools
	url = ../../kernel/prebuilts/build-tools
[submodule "platform/build"]
	branch = androidx-main
	path = build/make
	url = ../../platform/build
[submodule "platform/external/abseil-cpp"]
	branch = master
	shallow = true
	path = external/abseil-cpp
	url = ../../platform/external/abseil-cpp
[submodule "platform/external/doclava"]
	branch = master
	shallow = true
	path = external/doclava
	url = ../../platform/external/doclava
[submodule "platform/external/dokka"]
	branch = master
	shallow = true
	path = external/dokka
	url = ../../platform/external/dokka
[submodule "platform/external/google-benchmark"]
	branch = androidx-main
	shallow = true
	path = external/google-benchmark
	url = ../../platform/external/google-benchmark
[submodule "platform/external/icing"]
	branch = androidx-main
	shallow = true
	path = external/icing
	url = ../../platform/external/icing
[submodule "platform/external/icu"]
	branch = androidx-main
	shallow = true
	path = external/icu
	url = ../../platform/external/icu
[submodule "platform/external/ink-stroke-modeler"]
	branch = master
	shallow = true
	path = external/ink-stroke-modeler
	url = ../../platform/external/ink-stroke-modeler
[submodule "platform/external/libyuv"]
	branch = master
	shallow = true
	path = external/libyuv
	url = ../../platform/external/libyuv
[submodule "platform/external/noto-fonts"]
	branch = androidx-main
	shallow = true
	path = external/noto-fonts
	url = ../../platform/external/noto-fonts
[submodule "platform/external/protobuf"]
	branch = androidx-main
	shallow = true
	path = external/protobuf
	url = ../../platform/external/protobuf
[submodule "platform/external/webview_support_interfaces"]
	branch = androidx-main
	shallow = true
	path = external/webview_support_interfaces
	url = ../../platform/external/webview_support_interfaces
[submodule "platform/frameworks/support"]
	branch = androidx-main
	path = frameworks/support
	url = ../../platform/frameworks/support
[submodule "platform/frameworks/support-golden"]
	branch = androidx-main
	shallow = true
	path = golden
	url = ../../platform/frameworks/support-golden
[submodule "platform/prebuilts/androidx/exoplayer"]
	branch = androidx-main
	shallow = true
	path = prebuilts/androidx/exoplayer
	url = ../../platform/prebuilts/androidx/exoplayer
[submodule "platform/prebuilts/androidx/external"]
	branch = androidx-main
	shallow = true
	path = prebuilts/androidx/external
	url = ../../platform/prebuilts/androidx/external
[submodule "platform/prebuilts/androidx/internal"]
	branch = androidx-main
	shallow = true
	path = prebuilts/androidx/internal
	url = ../../platform/prebuilts/androidx/internal
[submodule "platform/prebuilts/androidx/konan"]
	branch = androidx-main
	shallow = true
	path = prebuilts/androidx/konan
	url = ../../platform/prebuilts/androidx/konan
[submodule "platform/prebuilts/androidx/traceprocessor"]
	branch = androidx-main
	shallow = true
	path = prebuilts/androidx/traceprocessor
	url = ../../platform/prebuilts/androidx/traceprocessor
[submodule "platform/prebuilts/build-tools"]
	branch = androidx-main
	shallow = true
	path = prebuilts/build-tools
	url = ../../platform/prebuilts/build-tools
[submodule "platform/prebuilts/checkstyle"]
	branch = master
	shallow = true
	path = prebuilts/checkstyle
	url = ../../platform/prebuilts/checkstyle
[submodule "platform/prebuilts/cmake/darwin-x86"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/cmake
	url = ../../platform/prebuilts/cmake/darwin-x86
[submodule "platform/prebuilts/cmake/linux-x86"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/cmake
	url = ../../platform/prebuilts/cmake/linux-x86
[submodule "platform/prebuilts/fullsdk-darwin/build-tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/build-tools
	url = ../../platform/prebuilts/fullsdk-darwin/build-tools
[submodule "platform/prebuilts/fullsdk-darwin/platform-tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/platform-tools
	url = ../../platform/prebuilts/fullsdk-darwin/platform-tools
[submodule "platform/prebuilts/fullsdk-darwin/tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/tools
	url = ../../platform/prebuilts/fullsdk-darwin/tools
[submodule "platform/prebuilts/fullsdk-linux/build-tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/build-tools
	url = ../../platform/prebuilts/fullsdk-linux/build-tools
[submodule "platform/prebuilts/fullsdk-linux/platform-tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/platform-tools
	url = ../../platform/prebuilts/fullsdk-linux/platform-tools
[submodule "platform/prebuilts/fullsdk-linux/tools"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/tools
	url = ../../platform/prebuilts/fullsdk-linux/tools
[submodule "platform/prebuilts/fullsdk/platforms/android-31"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/platforms/android-31
	url = ../../platform/prebuilts/fullsdk/platforms/android-31
[submodule "platform/prebuilts/fullsdk/platforms/android-33"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/platforms/android-33
	url = ../../platform/prebuilts/fullsdk/platforms/android-33
[submodule "platform/prebuilts/fullsdk/sources/android-31"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/sources/android-31
	url = ../../platform/prebuilts/fullsdk/sources/android-31
[submodule "platform/prebuilts/fullsdk/sources/android-33"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/sources/android-33
	url = ../../platform/prebuilts/fullsdk/sources/android-33
[submodule "platform/prebuilts/jdk/jdk11"]
	branch = master
	shallow = true
	path = prebuilts/jdk/jdk11
	url = ../../platform/prebuilts/jdk/jdk11
[submodule "platform/prebuilts/jdk/jdk8"]
	branch = androidx-main
	shallow = true
	path = prebuilts/jdk/jdk8
	url = ../../platform/prebuilts/jdk/jdk8
[submodule "platform/prebuilts/ninja/darwin-x86"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/ninja
	url = ../../platform/prebuilts/ninja/darwin-x86
[submodule "platform/prebuilts/ninja/linux-x86"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/ninja
	url = ../../platform/prebuilts/ninja/linux-x86
[submodule "platform/prebuilts/protobuf"]
	branch = androidx-main
	shallow = true
	path = prebuilts/protobuf
	url = ../../platform/prebuilts/protobuf
[submodule "platform/tools/dexter"]
	path = external/dexter
	url = ../../platform/tools/dexter
[submodule "platform/tools/external/gradle"]
	branch = androidx-main
	shallow = true
	path = tools/external/gradle
	url = ../../platform/tools/external/gradle
[submodule "platform/tools/metalava"]
	branch = master
	shallow = true
	path = tools/metalava
	url = ../../platform/tools/metalava
[submodule "platform/tools/repohooks"]
	branch = master
	shallow = true
	path = tools/repohooks
	url = ../../platform/tools/repohooks
[submodule "toolchain/prebuilts/ndk-darwin/r23"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-darwin/ndk
	url = ../../toolchain/prebuilts/ndk-darwin/r23
[submodule "toolchain/prebuilts/ndk/r23"]
	branch = master
	shallow = true
	path = prebuilts/fullsdk-linux/ndk
	url = ../../toolchain/prebuilts/ndk/r23
[submodule "tools/fetch_artifact"]
	branch = master
	shallow = true
	path = tools/fetch_artifact
	url = ../../tools/fetch_artifact
